
{{> sidebar}}
{{> new}}
{{> home}}<br>
<div id="address-template">
  <h2>Address</h2>
       You can find me in {{city}}. My address is {{number}} {{street}}.
      My post-office is {{postoffice}}.<br><br><br>
  <button id="hidefirst" onclick="about();" name="About" value="About">About</button>
</div>
 <br><br><br>
<div id="last-child">
    <h4>Hello..This is the last div of this {{file}} file.</h4>
</div>
{{> last}}<br><br>
{{> footer}}
